*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(205, 198, 198);
}

#card{
    border-radius: 5px;
    height: 450px;
    width: 300px;
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

#card img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

#card h1{
    font-size: 20px;
    margin: 10px 0 ;
    font-weight: 700;
}

#card h5{
    font-size: 25px;
    color: red;
    margin: 20px;
}

#card button{
    background-color: cadetblue;
    color: #fff;
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 10px;
    border: nojn;
    border: none;
    margin: 5px;
    cursor: pointer;
}

 

 